.button-container {
    margin-bottom: 25px;
}
.button-container button {
    margin-right: 10px;
}
.button-container button i {
    margin-right: 5px;
}
.character__properties .button-container {
    margin-bottom:0;
    justify-content: flex-end;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.character__properties .button-container button {
    color:#fff;
}
.character__properties .button-container .green {
    margin-right:0;
}